/* Custom properties/variables  */
:root {
    --main-white: #f0f0f0;
    --main-green: #65be31;
    --main-purple: #7d4561;
    --main-gray: #000000;
}

/* Base reset */
* {
    margin: 0;
    padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

/* Base styles */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.2rem;
}

ul {
    list-style: none;
}

a, a:hover {
    text-decoration: none;
    color: var(--main-white);
}



img:hover {
    text-decoration: none;
    color: var(--main-green);
}

img {
    display: block;
    width: 100%;
}

/* Top nav bar */

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-green);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

@media (max-width: 28.75em) {
    .nav {
        justify-content: center;
    }

    .nav-list {
        margin: 0 1rem;
    }
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}

.nav-list a:hover {
    background: var(--main-purple);
}

/* Welcome section */

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    transition: ease 2s;
}

.hello {
    position: absolute;
    transform: translateY(-150px);
}

.learn-more-nav{
    transition: ease 2s;
    transform: translateY(50px);
}


.learn-more-list {
    display: flex;
    margin-right: 2rem;
    padding-top: 50px;
}

.learn-more-list li {
    display: block;
    font-size: 1em;
    padding: 2rem;
    border-bottom: 1rem solid #7d4561;
    transition: font-size .5s ease-in-out;
}

.learn-more-list li:hover {
    font-size: 1.5em;
    transition: font-size .5s ease-in-out;
    background: #65be31;
}

.intro {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-green);
    transition: ease 2s;
    display: block;
    position: absolute;
    transform: translateY(-50px);
}

.intro-button {
    font-size: 1em;
    font-style: italic;
    color: grey;
    transition: ease 2s;
    transform: translateY(50px);
}

.go-back {
    color: #f0f0f0;
    padding: 5px;
    transition: ease 2s;
}

.go-back:hover {
    background: #7d4561;
}

.show-more {
    margin: 30px;
    text-indent: 5%;
    position: absolute;
}

.show-less {
    position: absolute;
}

.fade-in {
    opacity: 1;
    transition: opacity 1 linear;
    transform: translateY(100px);
    /* position: absolute; */
}

.fade-out {
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 1 linear;
}

.fade-in-no-move {
    opacity: 1;
    transition: opacity 1 linear;
}

.fade-out-no-move {
    opacity: 0;
    transition: opacity 1 linear;
}

.movetxt {
    -webkit-animation: moving 2s;
    animation: moving 2s;
}

.reversetxt {
    -webkit-animation: reset 2s;
    animation: reset 2s;
}

.txtreset {
    transform: translateY(50px);
}

.txtmoved {
    transform: translateY(400px);
}

@keyframes reset {
    from {transform: translateY(400px);}
    to {transform: translateY(50px);}
}

@keyframes moving {
    from {transform: translateY(50px);}
    to {transform: translateY(400px);}
}

.test {
    transform: translateY(-50px);
}

.test2 {
    transform: translateY(-50px);
}

/* */
.move-hello {
    -webkit-animation: moving-hello 2s;
    animation: moving-hello 2s;
}

.reverse-hello {
    -webkit-animation: reset-hello 2s;
    animation: reset-hello 2s;
}

.hello-reset {
    transform: translateY(0px);
}

.hello-moved {
    transform: translateY(-300px);
}

@keyframes moving-hello {
    from {transform: translateY(-150px);}
    to {transform: translateY(-300px);}
}

@keyframes reset-hello {
    from {transform: translateY(-300px);}
    to {transform: translateY(-150px);}
}

/* Projects section */

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-purple);
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
}

@media (max-width: 28.75em) {
    .projects-section-header {
        font-size: 4rem;
    }
}

/* Automagic image grid */
.projects-grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    -ms-grid-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
    .projects-section {
        padding: 6rem 1rem;
    }

    .projects-grid {
        -ms-grid-columns: 1fr;
    }
}

.project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
}

.project:hover .code {
    color: #ff7f50;
    text-decoration: none;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.project-tile {
    border-radius: 10px;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.btn-show-all {
    font-size: 2rem;
    background: var(--main-gray);
    transition: background 0.3s ease-out;
}

.btn-show-all:hover {
    background: var(--main-green);
}

.btn-show-all:hover>i {
    transform: translateX(2px);
    text-decoration: none;
}

.btn-show-all>i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

/* Contact section */

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-gray);
}

.contact-section-header>h2 {
    font-size: 6rem;
}

@media (max-width: 28.75em) {
    .contact-section-header>h2 {
        font-size: 4rem;
    }
}

.contact-section-header>p {
    font-style: italic;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(8px);
    color: var(--main-white);
}

/* Form Styles */

.card-form {
    width: 500px;
    background: var(--main-purple);
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.form-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 20px;
    font-weight: bold;
    background: var(--main-green);
    border-radius: 10px 10px 0 0;
}

.form-body {
    padding: 10px;
}

.row {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    appearance: none;
    width: 100%;
    margin: 0 15px;
    height: 35px;
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #e8ebed;
    color: #576366;
    font-size: 14px;
}

.rule {
    height: 2px;
    background: #e8ebed;
    margin: 0px 35px;
}

.form-footer {
    margin: 0 25px 15px 25px;
    padding: 15px 10px;
}

.formA {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    background: var(--main-green);
    margin-right: 10px;
    font-size: 14px;
}

span {
    margin-left: 8px;
}

.comments {
    height: 20px;
}

/* Footer */

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-green);
}

footer>p {
    margin: 2rem;
}

footer i {
    vertical-align: middle;
}

@media (max-width: 28.75em) {
    footer {
        flex-direction: column;
        text-align: center;
    }
}

